<form name="bgForm">

    <h2>Are you sure you want to delete this?</h2>

    <div hidden="hidden">
        <label for="Id">Id</label>
        <input type="text" data-ng-model="BoardGame.Id" />
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" ng-disabled="true" data-ng-model="BoardGame.Name" />
    </div>
    <div>
        <label for="players">Players</label>
        <input type="number" ng-disabled="true" data-ng-model="BoardGame.Players" />
    </div>

    <div>
        <label for="category">Category</label>
        <input type="text" ng-disabled="true" data-ng-model="BoardGame.Category" />
    </div>

    <div>
        <label for="ages">Ages</label>
        <input type="text" ng-disabled="true" data-ng-model="BoardGame.Ages" />
    </div>

    <div>
        <label for="comments">Comments</label>
        <input type="text" ng-disabled="true"  data-ng-model="BoardGame.Comments" />
    </div>
    <br />
    <div>
        <button class="btn btn-danger" ng-click="proceed()">Proceed and delete</button>
        <button data-ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
</form>